[Unit]
Description=Shopify Admin App FastAPI
After=network.target

[Service]
User=azureuser
WorkingDirectory=/home/azureuser/shopify-admin-app
ExecStart=/home/azureuser/shopify-admin-app/venv/bin/uvicorn main:app --host 127.0.0.1 --port 8085
Restart=always

[Install]
WantedBy=multi-user.target
